* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{ 
    position: absolute;
    width: 100%;
    height:auto;
    color:#fff;
    box-shadow: 4px 5px 10px rgb(141, 140, 140);
}
.nav ul{
    width: 100%;
    color:#fff;
}
.nav ul li{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0px 1rem;
    letter-spacing: 1px;
    color:#fff;
}
.nav ul li:hover{
    background-color: rgb(235, 235, 237);
}
.fix-nav{
    position:fixed;
    color:black;
    background-color:#fff;
}
.fix-nav a,.fix-nav ul li{
    color:black;
}
#logo{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0px 1rem;
    text-shadow: 2px 3px 4px rgb(164, 163, 163);
}
#logo span{
    color: skyblue;
}
.section2{
    height:600px;
    background:linear-gradient(rgba(22, 25, 26, 0.4),rgba(15, 16, 16, 0.9)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnZiRd9En7cAxANF7SdgVLB1KZ9dnK_Ew4MQ&s');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    color:#fff;
}
.list1{
    display:none;
}
.list1.show {
    display:block;
}
.lastlist{
    /* visibility:hidden; */
    display:none;
}
/* visibility hidden only hide element but it will leave space that accupy element */
/* instead of visibility hidden used display none */
#icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.6rem;
    color: skyblue;
    font-weight: bold;
    transition: all linear 0.4s;
}

/* scroll smoothly our web page */
html {
    scroll-behavior: smooth;
}
  
#icon:hover {
    transform: rotate(180deg);
}
.section{
    width:100%;
    height:400px;
    text-align:center;
    font-size:1.6rem;
}
.section span{
    color:rgb(7, 114, 136);
}
.section:nth-child(odd){
    background-color:rgb(188, 214, 225);
}
a{
    text-decoration:none;
    color:#fff;
}

@media only screen and (min-width: 850px) {
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        margin: 0px 0.2rem;
    }
    nav{
        display: flex;
        padding: 0.1rem;
        height: auto;
    }
    #icon{
        display: none;
    }
    .lastlist{
        /* visibility: visible; */
        display:block;
        display:flex;
        color: rgb(20, 128, 171);
    }
    .list1{
        display: flex !important;
    }
}
