*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width:30%;
    margin:auto;
    /* border:none; */
    border:2px solid rgb(170, 166, 166);
}
form{
    width:100%;
    padding:0.5rem 1rem;
    border:none;
    box-shadow:4px 4px 5px rgb(164, 162, 162);
}
.info{
    width:100%;
    font-size:1.3rem;
    margin:1rem 0rem;
    border:none;
    /* border:1px solid blue; */
}
.info input{
    width:100%;
    padding:0.6rem;
}
.info span{
    color:red;
}
