*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
form{
    width:50%;
    margin:5rem auto;
    text-align:center;
    border:2px solid gray;
}
form input{
    padding:0.5rem;
}
table{
    width:100%;
    margin:1rem auto;
}
table,tr,th,td{
    border:2px solid gray;
}
