*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:linear-gradient(to right, rgb(196, 219, 226),rgb(215, 215, 219));
}
.container{
    width:45%;
    min-height:500px;
    margin:5rem auto;
    padding:1rem 0px;
    background-color:#fff;
    border:none;
    border-radius:11px;
    box-shadow:5px 10px 10px rgb(84, 83, 83);
}
.wraper{
    width:100%;
}
#myh1{
    text-align:center;
    margin:1rem;
}
.inputdiv{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:0px 5px;
}
.userinput{
    width:85%;
    font-size:1.1rem;
    padding:0.2rem;
    outline:none;
    border:none;
    border-bottom:2px solid black;
}
.userinput:focus, select:focus{
    outline:none;
}
.output{
    width:90%;
    margin:1rem auto;
    padding:0.2rem;
}
#btn{
    padding:0px 0.5rem;
    border:none;
    box-shadow:4px 4px 5px gray;
    background-color:skyblue;
    border-radius:5px;
    color:green;
    font-size:2rem;
}
.todo{
    width:100%;
    padding:2%;
    margin:1rem 0rem;
    display:flex;
    justify-content:center;
    border:1px ridge gray;
    box-shadow:4px 4px 5px gray;
}
.todo1{
    flex-grow:2;
    font-size:0.9rem;
}
.todo span .fa-trash{
    color:red;
    margin:2px;
}
.fa-pencil{
    color:green;
}
.time{
    font-size:0.8rem;
}
#settime{
    margin:0rem 1rem;
    padding:0.5rem;
    border:none;
    border-bottom:2px solid black;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.showdeadline{
    display:none;
    height:40px;
    background-color:green;
    border:2px solid pink;
    padding:2rem;
    font-size:1.5rem;
}

@media only screen and (max-width:600px){
    .container{
        width:92%;
    }
    .inputdiv{
        margin:0px 0.3rem;
        width:100%;
    }
    .userinput{
        margin:0;
        width:70%;
        padding:0.3rem;
        font-size:0.8rem;
    }
    #settime{
        padding:0.1rem;
        font-size:0.7rem;
        margin:0;
    }
    #settime option{
        font-size:9px;
    }
    #btn{
        margin:0;
        padding:0.1rem 0.5rem;
        font-size:1.6rem;
        color:green;
    }
}








